/* Font */
@font-face {
	font-family: Red-Hat-Display;
	src: url(./font/RedHatDisplay-VariableFont_wght.ttf) format('truetype');
}

/* Variables */
:root {
	--neutral-clr-desaturated: #15a6bb;
	--neutral-clr-dark: #005c6a;
	--text-clr-bright: #dedede;
	--text-clr-dark: #555;
	--transition: all 0.3s ease-in-out;
}

/* Reset */
*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

button, input {
	color: inherit;
	font: inherit;
}

/* Content */
body {
	min-height: 100dvh;
	line-height: 1.5;
	font-family: Red-Hat-Display, sans-serif;
	background: url("./img/background.svg");
	background-color: #8093f1;
	background-size: cover;
	font-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-clr-dark);
	font-weight: 400;
}

/* Form */
#euribor-calculator {
	border-radius: 16px;
	overflow: hidden;
	width: min(450px, 100%);
	background-color: #f5f5f5;
	box-shadow: 2px 3px 10px 3px rgba(0,0,0,0.3);
}

.form-header {
	margin-bottom: 20px;
	height: 200px;
}

.form-header img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.form-body,
.form-result {
	padding: 0 24px 16px;
	border: none;
}

.form-body legend,
.form-result legend {
	width: 100%;
	font-size: 1.5rem;
	font-weight: 700;
	color: #333;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.form-input {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.form-input input,
.form-result input {
	padding: 4px 8px;
	border: 1px solid #bfbfbf;
	border-radius: 5px;
	font-size: 1.125rem;
	transition: var(--transition);
	background-color: #f5f5f5;
}

.form-input label,
.form-result label {
	font-size: 1.125rem;
}

/* Validation */
.form-input input.validate:invalid {
	border: 1px solid #FF6F61;
	box-shadow: 0 0 3px #FF6F61;
}

span.input-error {
	display: none;
	font-size: 0.9rem;
	color: #FF6F61;
	margin-left: 4px;
}

.form-input input.validate:invalid + span.input-error {
	display: block;
}

.form-input input.validate:valid {
	border: 1px solid #1a8b27;
	box-shadow: 0 0 3px #22bb33;
}

/* Focus States */
.form-input input.validate:focus,
.form-input input:focus {
	border: 1px solid var(--neutral-clr-dark);
	box-shadow: 0 0 6px var(--neutral-clr-dark);
	transform: scale(1.01);
}

/* Placeholder pseudo-element */
.form-input input::placeholder {
	font-size: 1rem;
}

/* Remove User-Agent Focus */
.form-input input:focus-visible,
.form-input input.validate:focus-visible,
.form-result input:focus-visible {
	outline: none;
}

.form-body button {
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.125rem;
	background-color: var(--neutral-clr-dark);
	color: var(--text-clr-bright);
	padding: 12px 0;
	width: 100%;
	display: block;
	margin: 22px 0 10px;
	border-radius: 8px;
	box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
	transition: var(--transition);
}

.form-body button:hover {
	background-color: var(--neutral-clr-desaturated);
}

/* Result section */
.form-result output {
	font-weight: 700;
}
.form-result .output .result {
	display: flex;
	justify-content: space-between;
	font-size: 1.125rem;
}

.form-result .loan-difference {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 12px 0;
}

.form-result .loan-difference input {
	max-width: 50%;
}

.form-result .loan-difference input:disabled {
	background-color: #e5e5e5;
	border-color: #ccc;
	cursor: not-allowed;
}